<md-card-content>
  <h2>Replication Controls</h2>
  <p>This view lets you control the replication mechanism of the application.</p>
  <div layout="row">
    <div layout="column" flex="50">
      <md-button class="md-raised md-primary" ng-click="$ctrl.startReplication()">start replication</md-button>
    </div>
    <div layout="column" flex="50">
      <md-button class="md-raised md-warn" ng-click="$ctrl.stopReplication()">stop replication</md-button>
    </div>
  </div>

</md-card-content>
