<md-card-content>
  <h2>Log Form: register new log entries</h2>
  <form>
    <div layout="row">
      <div layout="column" flex="nogrow">
        <md-input-container>
          <label>Select loglevel</label>
          <md-select ng-model="$ctrl.selectedLevel" ng-model-options="{trackBy: '$value.id'}">
            <md-option ng-repeat="level in $ctrl.loglevels" ng-value="level">{{ level.text }}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout="column" flex>
        <md-input-container>
          <label>Enter new log message</label>
          <input type="text" ng-model="$ctrl.message">
        </md-input-container>
      </div>
    </div>
    <md-button class="md-raised md-primary" ng-click="$ctrl.submit()">submit</md-button>
  </form>
</md-card-content>
